@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "../styles/theme.css"; */


:root {
  --bg: #020617;
  --bg-soft: #020617cc;
  --border: #1e293b;
  --primary: #34d399;
  --text-muted: #94a3b8;
  
}

body {
  background: var(--bg);
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.section {
  padding: 6rem 0;
}

.heading-xl {
  font-size: 3rem;
  font-weight: 700;
}

.heading-lg {
  font-size: 2rem;
  font-weight: 600;
}

.text-muted {
  color: var(--text-muted);
}

.bg-bg {
  background: var(--bg);
}

.bg-bg-soft {
  background: var(--bg-soft);
}

.border-border {
  border-color: var(--border);
}

.text-primary {
  color: var(--primary);
}

.btn-primary {
  background: var(--primary);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}


